<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="context-path" th:content="@{/}"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/qb.min.css}"></link>
    <style type="text/css">
        body {
            padding: 10px;
        }

        .form .form_item .tip {
            display: inline-block;
            width: 90px;
        }

        .form .form_item {
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="form">
        <form ss-validate="" class="cmxform ss-validate" id="createForm" onsubmit="return false">
            <div class="form_item">
                <label>属于团队[<span th:text="${team.name}"></span>]的用户(一行一个用户名)：</label>
            </div>
            <div class="form_item">
            	<textarea style="width:90%" rows="9" class="text-input"  id="tt_username" required="true"></textarea>
            </div>
           
            <div style="text-align:center; margin-top:30px">
            	<input class="submit btn" type="hidden" id="teamId" th:value="${teamId}"/>
                <input class="submit btn" type="submit" value="提交"/>
            </div>

        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/qb.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
</body>
</html>
<script type="text/javascript">
    /*<![CDATA[*/
    var create_url = "/team/joinByUsernames";
    function createTeamUser(){
    	var ssUserNamees = $("#tt_username").val();
    	console.log(ssUserNamees)
        $.ajax({
            url: create_url,
            type: "POST",
            data:{
            	teamId:$("#teamId").val(),
            	userNames:ssUserNamees
            },
            success:function(json){
            	console.log(json)
            	if(json.data > 0){
            		alert("成功加入：" + json.data + " 人到该团队中。");
            		setTimeout(function(){
            			top.document.getElementById("mainFrame").contentWindow.location.reload(true);
                		var index = parent.layer.getFrameIndex(window.name);
                		parent.layer.close(index);
            		},3000);
            	}else{
            		alert("未加入任何人到该团队中，请核对数据.");
            	}
                
            },
            error:function(resp){
                var json = resp.responseJSON;
                if(json.meta){
                    alert(json.meta.errMsg);
                }
                else{
                    alert(json);
                }
            }
        });
    }



    $(function () {
        init_page();

        $("#createForm").validate({
            submitHandler: function (form) {
            	createTeamUser();
            }
        });

    });
    /*]]>*/
</script>