<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="context-path" th:content="@{/}"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/qb.min.css}"></link>
    <style type="text/css">
        body {
            padding: 10px;
        }

        .form .form_item .tip {
            display: inline-block;
            width: 90px;
        }

        .form .form_item {
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="form">
        <form ss-validate="" class="cmxform ss-validate" id="createForm" onsubmit="return false">
            <div class="form_item">
                <label class="tip">真实姓名</label><input type="text" class="text-input" value="" name="realname" id="realname_input" minlength="2" required="true"/>
            </div>
            <div class="form_item">
                <label class="tip">用户名</label><input type="text" class="text-input" value="" name="username" id="username_input" minlength="2" required="true" />
            </div>
            <div class="form_item">
                <label class="tip">邮箱</label><input type="text" class="text-input" value="" name="email" id="email_input" minlength="3" required="true" />
            </div>
            <div class="form_item">
                <label class="tip">登录密码</label><input type="text" class="text-input" value="123456" name="password" id="password_input" minlength="3" required="true" />
            </div>
            <div class="form_item">
                <label class="tip">性别</label>
                <select name="sex" id="sex_select">
                    <option value="m">男</option>
                    <option value="f">女</option>
                </select>
            </div>
            <div class="form_item">
                <label class="tip">年龄</label>
                <input type="text" class="text-input" value="26" name="age" id="age_input" required="false"/>
            </div>
            <div style="text-align:center; margin-top:30px">
                <input class="submit btn" type="submit" value="提交"/>
            </div>

        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/qb.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
</body>
</html>
<script type="text/javascript">
    /*<![CDATA[*/
    var create_url = "/user/create";
    function createUser(){
        $.ajax({
            url: create_url,
            type: "POST",
            headers:{
                "Content-Type":"application/json;charset=UTF-8"
            },
            data:JSON.stringify({
                realname: $("#realname_input").val(),
                username: $("#username_input").val(),
                email:$("#email_input").val(),
                sex:$("#sex_select").val(),
                age:$("#age_input").val(),
                password:$("#password_input").val()
            }),
            success:function(json){
                top.document.getElementById("mainFrame").contentWindow.location.reload(true);
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            },
            error:function(resp){
                var json = resp.responseJSON;
                if(json.meta){
                    alert(json.meta.errMsg);
                }
                else{
                    alert(json);
                }
            }
        });
    }



    $(function () {
        init_page();

        $("#sex_select").chosen({
            width: '200px',
            disable_search: true
        });

        $("#createForm").validate({
            submitHandler: function (form) {
                createUser();
            }
        });

        $("#username_input").blur(function () {
            var val = $(this).val();
            if(val != ""){
                $("#email_input").val(val + "@qq.com");
            }
        });

    });
    /*]]>*/
</script>