<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="context-path" th:content="@{/}"/>
    <title>修改密码</title>
    <style type="text/css">
        body {
            padding: 10px;
        }

        .form .form_item .tip {
            display: inline-block;
            width: 90px;
        }

        .form .form_item {
            margin-top: 5px;
        }
    </style>

    <link rel="stylesheet" th:href="@{/css/qb.min.css}"></link>
</head>
<body>

<div class="form">
    <form ss-validate="" class="cmxform ss-validate" id="commentForm" onsubmit="return false">
        <div class="form_item">
            <label class="tip">原密码</label><input type="password" class="text-input" value="" name="password" id="old_password_input" minlength="6" required="true"/>
        </div>
        <div class="form_item">
            <label class="tip">新密码</label><input type="password" class="text-input" value="" name="password"
                                                 id="news_password_input1" minlength="6" required="true"/>
        </div>
        <div class="form_item">
            <label class="tip">确认新密码</label><input type="password" class="text-input" value="" name="password"
                                                   id="news_password_input2" minlength="6" required="true"/>
        </div>
        <div style="text-align:center; margin-top:30px">
            <input class="submit btn" type="submit" value="提交"/>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/qb.min.js}"></script>
<script type="text/javascript" th:src="@{/js/utils.js}"></script>

<script type="text/javascript">
    /*<![CDATA[*/
    var change_password_url = "/user/changePassword"

    function changePassword() {
        var oldPassword = $("#old_password_input").val();
        var newsPassword1 = $("#news_password_input1").val();
        var newsPassword2 = $("#news_password_input2").val();
        if (newsPassword1 != newsPassword2) {
            alert("两次输入的新密码不一致");
            return;
        }
        if (oldPassword == newsPassword1) {
            alert("老密码和新密码不能一样");
            return;
        }
        $.ajax({
            url: change_password_url,
            type: "POST",
            data: {
                oldPassword: oldPassword,
                newPassword: newsPassword1
            },
            success: function (json) {
                if(json.meta.errNum == 0){
                    top.location.href = "/login";
                }
                else{
                    alert(json.meta.errMsg);
                }
            },
            error: function () {
                alert("http请求发送失败");
            }
        });
    }

    $(function () {
        init_page();

        $("#commentForm").validate({
            submitHandler: function (form) {
                changePassword();
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>